$bp-mobile-big: 600px;
$bp-tablet: 800px;
$bp-desktop: 1000px;

$bg-color-1: #5e5e5e;
$bg-color-2: #09171A;

$accent-color-1: greenyellow;
$accent-color-2: darkslategray;

$accent-1: #09171A;
$accent-2: #163740;
$accent-3: #235867;
$accent-4: #2F798E;
$accent-5: #3A9AB6;

@mixin containerWidth {
    width: 75%;
    @media only screen and (min-width: $bp-tablet) {
        width: 40%;
    }
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Bebas Kai';
}

main {
    /*background-image: radial-gradient($bg-color-1 15%, transparent 16%),
    radial-gradient($bg-color-1 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-color: $bg-color-2;*/
    background-color: $bg-color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.portraitContainer {
    @include containerWidth();
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 70%;
        //border-radius: 50%;
        //animation: 1s ease portraitRotate;
        transition: transform 0.2s ease;
        border-radius: 5px;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.fontContainer {
    @include containerWidth();
    color: white;
    user-select: none;
    text-transform: uppercase;

    .fit {
        display: inline-block;
        white-space: nowrap;
        line-height: 0.8em;
    }

    & + & {
        margin-top: 30vh;
    }
}

#webDev {
    @include containerWidth();
    min-height: 66px;
    margin: 20px 0;
    padding: 10px;
    font-family: 'Courier';
    font-size: 0px;
    color: $accent-5;
    background-color: $accent-2;
    border-radius: 5px;
    box-sizing: border-box;
    word-break: break-word
    ;
    > * {
        font-size: 40px;
    }

    @media only screen and (min-width: $bp-tablet) {
        min-height: 100px;

        * {
            font-size: 70px;
        }
    } 
}

.skillContainer {
    margin-top: 50vh;
}

.skills {
    width: 100%;
    margin-top: 10vh;

    &__skillBubble {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        background-color: $accent-2;
        transition: transform 0.2s ease-in-out;

        .percentage {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            border-radius: 10px;
            background-color: $accent-3;
        }

        > span {
            font-size: 35px;
            height: 40px;
            z-index: 50;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.contactLinks {
    @include containerWidth();
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0 25vh 0;

    #github {
        width: 100%;
        height: 100%;
        
        path {
            transition: fill 0.1s;
        }
        &:hover path {
            fill: #6e5494;
        }
    }
    #xing {
        width: 100%;
        height: 100%;

        path {
            transition: fill 0.1s;
        }
        &:hover path {
            fill: #cfdc00;
        }
    }
}

.contactLink {
    width: 40%;
}

.arrow.down {
    opacity: 0.0;
    border: solid white;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 50px;
    animation: 1s ease 0s infinite alternate blink;
}

@keyframes portraitRotate {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes blink {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
