:root {
  --bp-mobile-big: 600px;
  --bp-tablet: 800px;
  --bp-desktop: 1000px;

  --bg-color-1: #5e5e5e;

  --accent-0: #09191c;
  --accent-1: #102c32;
  --accent-2: #163740;
  --accent-3: #235867;
  --accent-4: #2f798e;
  --accent-5: #3a9ab6;
}
